<h2>{{ alb_name }} - {{ art_name }} </h2>
<br>
<p> Songs: </p>
<br>
{% for con in alb_con %}
{{ con[0] }} - {{ con[1] }}
<hr>
{% endfor %}
<br>
{% if session.admin %}
<a href="/album/{{ id }}/add_song">Add a new song to album</a>
{% endif %}

<br>
<br>
<p>Albums average rating: {{ avg_rating }}</p>
{% if session.username %}
<form action="/addrating" method="POST">
	<p>What would you rate this album?</p>
	<select name="rating" id="rating">
		<option value=1>1</option>
		<option value=2>2</option>
		<option value=3>3</option>
		<option value=4>4</option>
		<option value=5>5</option>
		<option value=6>6</option>
		<option value=7>7</option>
		<option value=8>8</option>
		<option value=9>9</option>
		<option value=10>10</option>
	</select>
	<input type="number" name="album_id" value={{ id }} hidden>
	<input type="submit" value="Rate">
</form>
{% endif %}
{{ message }}
<h3>Reviews:</h3>
{% if session.username %}
<form action="/addreview" method="POST">
	<p>Leave a review:</p>
	<input type="number" name="album_id" value={{ id }} hidden>
	<textarea name="review_content" rows="8" cols="50"></textarea></p>
	<input type="submit" value="Submit">
</form>

{% else %}
<p>Login to leave a review or edit the album</p>
{% endif %}
{% for review in review_content %}
<hr>
User: {{ review[2] }}
<br>
Date: {{ review[1]}}
<br>
<br>
{{ review [0] }}
{% if session.admin %}
<form action="/deletereview" method="POST">
	<input type="number" name="review_id" value={{ review[3] }} hidden>
	<input type="number" name="album_id" value={{ id }} hidden>
	<input type="submit" value="Delete this review">
</form>
{% endif %}
{% endfor %}
<br>
<br>
<hr>
{% if session.admin %}
<form action="/deletealbum" method="POST">
	<input type="number" name="album_id" value={{ id }} hidden>
	<input type="submit" value="Delete this album">
</form>
{% endif %}
<br>
<a href="/">home</a>