<h1> Welcome! </h1>
{% if session.admin %}
<p>You are an admin</p>
{% endif %}
{% if session.username %}
<p>Logged in as {{ session.username }}</p>
<br>
<a href="/logout">Log out</a>
{% else %}
<p>Not logged in. <a href="/loginpage">Log in here</a></p>
{% endif %}
<br>
<form action="/searchresults" method="GET">
	<p>Search for an artist or an album:</p>
	<input type="text" name="query"> <input type="submit" value="Submit"></p>
</form>
<br>
<br>
<a href = "/all">Show all albums</a>
<br>
<br>
<a href = "/genre">Show all genres</a> 
<br>
<br>
<br>
{% if session.admin %}
<h3><a href = "/addalbum">Add a new album</a></h3>
{% endif %}